<div class="row">
	<div class='speaker-photo col-lg-4'>
		<% speaker = topic.speaker %>
		<%= link_to( image_tag( 'preloader.gif', class: 'preload-photo', data: { image_link:  photo_download_speaker_path(speaker.id)}, alt: speaker.fullname), speaker ) %>
	</div>
	<div class="speech-conteiner col-lg-7">
		<div class='speech-info'>
			<h5><%= topic.title %></h5>
		</div>
		<div class='speaker-name speech-info'>
			<%= link_to speaker.fullname, speaker_path(speaker) %>
		</div>
	</div>
</div>
