<div class="row">
	<div class="main-speakers col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div class='speakers-list'>
			<h4>Speakers</h4>
			<div class="main-speakers-box row">
				<% @topics.each do |topic| %>
					<% if can? :read, topic %>
						<div class='speaker-container col-lg-5 col-md-3 col-sm-4 col-xs-4 <%= publishing_status(topic) %> '>
							<%= render 'speaker_info', topic: topic, speaker: topic.speaker %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="main-speakers col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class='lightning-talks-list'>
			<h4>Lightning talks</h4>
			<div class="main-speakers-box row">
				<% @lightnings.each do |lightning| %>
					<% if can? :read, lightning %>
						<div class='speaker-container col-lg-12 col-md-12 col-sm-12 col-xs-12 <%= publishing_status(lightning) %> '>
							<%= render 'speaker_info', topic: lightning, speaker: lightning.speaker %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>