<div class="row">  
	<div class="main-speakers col-sm-12 col-xs-12 <%= @lightnings.any? ? 'col-lg-8 col-md-8' : 'col-lg-12' %>">
		<%= render 'speacker_list', topics: @topics %>
	</div>
	<div class="main-speakers col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<%= render 'lightning_list', lightnings: @lightnings, grid_class: 'col-lg-12 col-md-12 col-sm-12 col-xs-12' unless @lightnings.blank? %>
	</div>
</div>