<div class="row">
	<div class="main-speakers col-lg-9 col-md-8 col-sm-12 col-xs-12">
		<%= render 'speacker_list', topics: @topics %>
		<%= render 'lightning_list', lightnings: @lightnings, grid_class: 'col-lg-5 col-md-3 col-sm-4 col-xs-4' %>
	</div>
	<div class="news col-lg-3 col-md-4">
		<h4>NEWS</h4>
		<div class="list-group">
			<% @news.each do |news| %>
				<% if can? :read, news%>
					<div href="#" class="list-group-item">
						<h4 class="list-group-item-heading"><%= news.title %></h4>
						<p class="list-group-item-text"> <%= news.content.html_safe %></p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>