<title>New Conference</title>
<h1>New Conference</h1>
<%= render 'form' %>

<script type="text/javascript">
        $(document).ready(function() {
            $('.datetimepicker').datetimepicker({
    });
    });
</script>

<%= link_to 'Back', conferences_path %>
