 <!DOCTYPE html>
 <html>
 <head>
     <title>New Conference</title>
     <h1>New Conference</h1>

          <!--Requirement jQuery-->
          <!--  <script type="text/javascript" src="vendor/assets/javascripts/jquery-1.11.2.js"></script> -->
    <!--script type="text/javascript" src="vendor/assets/javascripts/jquery.js"></script>
          <! Load Script and Stylesheet -->
      <!--script type="text/javascript" src="vendor/assets/javascripts/jquery.datetimepicker.js"></script>
      <link type="text/css" href="vendor/assets/stylesheets/jquery.datetimepicker.css" rel="stylesheet" /-->
 </head>
 <body>

<%= render 'form' %>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datetimepicker').datetimepicker({
    minDate:'2010/01/01',
    maxDate:'2100/01/01',
    minTime:'08:00',
    maxTime:'12:01',
    step:15,
    });
    });
    </script>

<%= link_to 'Back', conferences_path %>
 </html>