<html>


	<!--Requirement jQuery-->
	<script type="text/javascript" src="vendor/assets/javascripts/jquery-1.11.2.js"></script>
	<!--Load Script and Stylesheet -->
	<script type="text/javascript" src="vendor/assets/javascripts/jquery-ui.js"></script>
	<link type="text/css" href="vendor/assets/stylesheets/jquery-ui.css" rel="stylesheet" />

<h1>New Conference</h1>

<%= render 'form' %>
<!-- Registration form - START -->
<div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Event Name*:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Conference Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputYear">Event Year*:</label>
                    <div class="input-group">
                        <input type="number" 
                        min="2015"
                        value="1"
                        class="form-control" name="InputName" id="InputName" placeholder="Conference Year" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

		        <div class="form-group">
		        <label for="InputMessage">Event date:</label><br>
				<input type="text" name="date15" value="">

				<script type="text/javascript" id="datepicker">
    $(function() {
  $('.datepicker').datepicker();
});
				</script>

                <div class="form-group">
                    <label for="Attenders count">Attenders count:</label>
                    <div class="input-group">
                        <input type="number" 
                        min="1"
                        value="1"
                        class="form-control" name="InputAttenders" id="InputAttenders" placeholder="Input count of attenders" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk">
                        </span></span>
                    </div>
                </div>

	                <div class="form-group">
                    <label for="InputMessage">Enter Message:</label>
                    <div class="input-group">
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                <button type="reset" class="btn">Cancel</button>

            </div>
        </form>

    </div>
</div>

<%= link_to 'Back', conferences_path %>
</html>>