<% content_for :title, @conference.fullname %>
<% content_for :active_conference, @conference.fullname %>
<% content_for :conference_active_button, 'schedule' %>

<ul>
<% @events.each do |event| %>
	<li><%= event.title %></li>
<% end %>
</ul>