<!-- user -->
<!-- <ul>
<% @events.each do |event| %>
	<li><%= event.title %></li>
<% end %>
</ul> -->

<!-- admin -->
  <script src="../assets/jquery-ui.js"></script>

<style>
  #sortable { list-style-type: none;}
  #sortable li {}
  #sortable li span { position: absolute;}
</style>
<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>


<ul id="sortable" class="list-group">
<% @events.each do |event| %>
	<li class="ui-state-default list-group-item"><span style="position: relative;">00:00</span><span style="position: relative;"><%= event.title %></span><span class="badge" style="position: relative;">Speaker Name</span></li>
<% end %>
</ul>