<% content_for :title, @conference.fullname %>

<%  @@GLYPHS = %w(list fire leaf music user asterisk plus minus cloud envelope pencil glass search heart 
    star star-empty th th-large th-list ok remove cog trash home file time road download 
    download-alt upload inbox repeat refresh lock qrcode barcode tag tags bookmark picture 
    map-marker move play stop plus-sign minus-sign remove-sign ok-sign question-sign info-sign 
    remove-circle ok-circle ban-circle gift eye-open calendar random comment magnet hdd bell 
    bullhorn) %>

<%= user_schedule(@conference, @eventsSingle, @eventsGroupable).html_safe %>

<button class="btn btn-default" onclick="window.print();">Print schedule</button>

<style type="text/css">
  table tr td{
      font-size: 1.25em;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 12px !important;
  };
</style>