<% content_for :title, @conference.fullname %>

<table class="table table-responsive  ">
  <colgroup>
	<col style = "width:5%;"></col>
	<col style = "width:5%;"></col>
	<col></col>
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: center;">Start</th>
      <th style="text-align: center;">Duration</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
	  <tr style="background-color: <%= scheduleColor(event.event_type.color) %>">
	  	<td class="timestart" style="text-align: center;"></td>
	  	<td class="duration" style="text-align: center;"><%= conferenceEventDurationReturn(event.duration) %></td>
	  	<td><%= event.title %>
        <% unless event.speaker_id.nil? %>
	  	    <span style="float:right;"><%= link_to "-" + event.speaker.name + " " + event.speaker.surname, event.speaker %></span>
        <% end %>
      </td>
	  </tr>
	<% end %>
  </tbody>
  </table>
  <button class="btn btn-default" onclick="window.print();">Print schedule</button>

