<% content_for :title, @conference.fullname %>
<% if @conference.has_news? %>
	<%= render 'with_news' %>
<% else %>
	<%= render 'without_news' %>
<% end %>
<div>
	<%= render 'registration_speaker' %>
</div>