	
	<div class='content'>
		<div class='speakers-list'>
			<h2>Speakers:</h2>

			<div>	
				<% @conference.speakers.each do |speaker| %>
					<% if speaker.events[0].events_type.eventstype == 'topic' %>
						<div class='speaker-container'>
							<div class='speaker-photo'>
								PHOTO
							</div>

							<div class='speech-info'>
								<%= speaker.events[0].title %>
							</div>

							<div class='speaker-name speech-info'>
								<%= link_to speaker.name, speaker_path(speaker) %>
							</div>
						</div>
					<% end %>
					
				<% end %>
			</div>
		</div>
		<div class='lightning-talks-list'>
			<h2>Lightning talks:</h2>
			<div>	
				<% @conference.speakers.each do |speaker| %>
					<% if speaker.events[0].events_type.eventstype == 'lightning' %>
						<div class='lightning-speaker-container'>
							<div class='speaker-photo'>
								PHOTO
							</div>

							<div class='speech-info'>
								<%= speaker.events.where(conference: @conference)[0].title%>
							</div>

							<div class='speaker-name speech-info'>
								<%= link_to speaker.name, speaker_path(speaker) %>
							</div>
						</div>
					<% end %>
					
				<% end %>
			</div>

		</div>
	</div>
