	
	<div class='content'>
		<div class='speakers-list'>
			<h2>Speakers:</h2>

			<div>	
				<% @conference.events.where(event_type: @topic).each do |event| %>
					<div class='speaker-container'>
						<div class='speaker-photo'>
							PHOTO
						</div>

						<div class='speech-info'>
							<%= event.title %>
						</div>

						<div class='speaker-name speech-info'>
							<% speaker = event.speaker %>
							<%= link_to speaker.name, speaker_path(speaker) %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class='lightning-talks-list'>
			<h2>Lightning talks:</h2>
			<div>	
				<% @conference.events.where(event_type: @lightning).each do |event| %>
						<div class='lightning-speaker-container'>
							<div class='speaker-photo'>
								PHOTO
							</div>

							<div class='speech-info'>
								<%= event.title%>
							</div>

							<div class='speaker-name speech-info'>
								<% speaker = event.speaker %>
								<%= link_to speaker.name, speaker_path(speaker) %>
							</div>
						</div>
				<% end %>
			</div>

		</div>
	</div>
