<% @speakers.each do |speaker| %>

	<div class="row">
		<div class = 'full-speaker-container col-lg-9'>
			<div class = 'speaker-photo'></div>
			<div class = 'speaker-about'>
				<div class='speaker-name speech-info'>
					<%= link_to speaker.name, speaker_path(speaker.name) %>
				</div>
				<div><%= speaker.description %></div>
			</div>
		
		</div>

		<div class = 'speech-about col-lg-3'>
			<div><strong><%= speaker.events.where(conference: @conference)[0].title %></strong></div>
			<div><%= speaker.events.where(conference: @conference)[0].description %></div>
		</div>
	</div>

<% end %>