<h1>Editing Conference</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_conference_path(@conference), class: "btn btn-default btn-sm"  %> |
<%= link_to 'Back', admin_conferences_path, class: "btn btn-default btn-sm"  %>
