<fieldset class='col-lg-8'>
<legend>New Conference</legend>

<%= render 'form' %>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                });
            });
</script>
<br>
<ul class="pager">
    <li class="previous"><%= link_to 'Back', conferences_path %></li>
</ul> 