<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
<h3 style="margin-bottom:5px;">
  <%= if @conference then @conference.fullname end %>
</h3>
<div class="alert alert-info" style="margin-top: 0px; margin-bottom: 0px; margin-left: auto; margin-right: auto;">Status: Schedule taken from server.<button onclick="sendAJAX()" class="btn btn-warning hidden" id="AjaxButton" >Try Again</button></div>

<%= (admin_schedule @conference, @eventsSingle, @eventsGroupable).html_safe %>

<div>
  <%= link_to 'Events page', {controller: 'admin/events', 
                              action: 'index',
                              conf_id: @conference.id,
                              conf_fname: @conference.fullname},
                              class: "btn btn-default btn-sm" %>

  <%= link_to 'New event', {controller: 'admin/events', 
                            action: 'new',
                            conf_id: @conference.id,
                            conf_fname: @conference.fullname},
                            class: "btn btn-primary btn-sm" %>
</div>
</div>
<script>
  $(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
  });
</script>
<style>
  .alert { font-size: 1em; }
  #sortable { font-size: 0.85em; }
</style> 