<h1>Editing Event Type</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_event_type_path(@event_type), class: "btn btn-default btn-sm"  %>
<%= link_to 'Back', admin_event_types_path, class: "btn btn-default btn-sm"  %>
