<p id="notice"><%= notice %></p>
<h1>Listing Invitations</h1>
<table class="display data_table" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th>Email</th>
        <th>Status</th>
    </tr>
  </thead>

  <tbody>
      <% @invites.each do |invite| %>
      <tr>
          <td><%= invite.email %></td>
          <td><%= invite.status %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Invite speaker', invite_admin_speakers_path, class: "btn btn-default btn-success" %>

