  <% if @event.errors.any? %>
    <div id="error_explanation">
     <div class="alert alert-dismissible alert-danger">
      		<button type="button" class="close" data-dismiss="alert">×</button>
      		<strong>Oh snap!</strong>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>
  
<fieldset class='col-lg-8'>

<legend>Event at the conference  

<% if Invitation.where(email_hash: params[:hash]).count > 0 %>
		<% invite = Invitation.where(email_hash: params[:hash])[0] %>	
		<% @conference_id = invite.conference_id %>
		<%= Conference.find(@conference_id).fullname %>
	</legend>
		<% current_user = {'role' => User::SPEAKER}%>
		<%= render 'form' %>
<% else %>
	</legend>

<p> Sorry! You are not welcome to register at this conference! </p>

<% end %>

<%= link_to 'Add one more'%>

</fieldset>