<fieldset class='col-lg-8'>

<legend>Event at the conference  

<% if Invitation.where(email_hash: params[:hash]).count > 0 %>
		<% invite = Invitation.where(email_hash: params[:hash])[0] %>	
		<% @conference_id = invite.conference_id %>
		<%= Conference.find(@conference_id).fullname %>
	</legend>
		<% current_user = {'role' => User::SPEAKER}%>
		<%= render 'form' %>
<% else %>
	</legend>

<p> Sorry! You are not welcome to register at this conference! </p>

<% end %>

<%= link_to 'Back', admin_speakers_path %>

</fieldset>