<% @year ||= MainMenu.last_year %>
<% if can? :read, @year %>
	<div class='year-box <%= publishing_status(@year) %>'>
		<div class='year-name'>
			<%= @year.name %>
		</div>
		<div class='year-description'>
			<% if @year.content %>
				<%= @year.content.html_safe %>
			<% end %>
		</div>
	</div>
<% end %>