/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery.dataTables.css
 * require mainMenu.css
 *= require print
 * require bootstrap-wysihtml5
 *= require fileinput.min
 *= require bootstrap
 *= require bootstrap-datetimepicker
 *= require jquery.bsmselect.css
 *= require_tree .
 *= require_self
*/
$header-height: 150px;

.header-title{
	$header-height: 50px;
	background-color: #006687;
	color: #ffffff;
	height: $header-height;
	line-height: $header-height;
	text-transform: uppercase;
	font-size: 25px;
	padding: 0 15px;
}
.header{
	background-color: #f6f6f6;
	height: 150px;
}
.devide-line{
	background-color: #DBD0D0;
	height: 1px;
}
.next-pacemaker{
	$gap: 30px;
	$next-pacemaker-height: $header-height - $gap;

	height: $next-pacemaker-height;
	margin-top: $gap/2;
	background-color: #ffffff;

	.round{
		$size: $header-height * 0.6;
		height: $size;
		width: $size;
		background-color: #006687;
		border-radius: $size/2;
		margin-top: ($next-pacemaker-height - $size)/2;
	}
	.title{
		display: block;
		margin-top: 30px;
	}
	.body{
		margin-top: 0;
	}
}
#conference_nav_buttons{
	&:after{
		margin-bottom: 25px;
	}
	li{
		&.active > a{
			background-color: #D18100;
			color: white;
			border: none;
			padding: 10px 15px;
			margin: 0px 10px;
			&:hover{
				background-color: #D18100;
			}
		}
		> a{
			color: #006687;
			border-bottom: 2px dashed #006687;
			padding: 0 0;
			margin: 10px 10px;
			&:hover{
				background-color: transparent;
			}
		}
	}
}
.btn.call-for-speaker{
	$width: 200px;
	position: relative;
	left: 50%;
	width: $width;
	margin: 0 - $width/2;
}

div#preloader{
	position: fixed;
	left: 0; top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	/* Fall-back for browsers that don't support rgba */
	background: rgb(156, 199, 213) url('preloader.gif') no-repeat center center;
    background: rgba(156, 199, 213, .5) url('preloader.gif') no-repeat center center;
}
