.label_contact{
  padding-right: 5px;
}

.contact_form{
  margin-left: 10px;
}

#mail-area{
  margin-bottom:0; 
}

#add_button{
  display: inline-block;
  text-decoration: none;
}

#remove_button_contact{
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 17px;
  margin-left: 20px;
  margin-left: 55px;
  text-decoration: none;
}

.mail-adreess{
  width: 456px;
}