#editor {
  overflow:scroll;
  min-height:200px;
}

#wisywyg_container{
  margin-left: 137px;
  width:57%;
}

#location-area{
  margin-bottom:0; 
}

#content{
	margin-left: 600px;
  margin-top: 100px;
}
#map{
	position: relative;
	height: 200px !important;
	width: 455px !important;

}
.address-container p{
  margin-bottom:5px;
}
.contact-det{
  margin-bottom:15px;
}
.contact-det p{
  margin-bottom:5px;
}
