		.container {
		position: relative;
		margin-top: 0px;
		}

		.main-menu {
	    margin: 0 0 35px 0;
	    position: relative;
	    z-index: 1;
		}
		.main-menu ul div{
	    display: inline-block;


		}
		.main-menu ul div li p a{
		color: white;
	    background-color: transparent;
		}

		li.old-other {
			display: none;
		}

		li.year-other {
			display: none;
		}

		li.future-other {
			display: none;
		}

        ul.conference-menu {
		padding-left: 25%;
		background-color: rgb(0, 44, 58);
        }

        .conference-menu p{
        font-style: 24px, bold;
        text-align: center;	
        text-decoration:underline,;
        color: #white; 
    	background: transparent; 
    	padding: 2px; 
        }
        .conference-menu img {
        width: auto;	
        height: auto;	
        }