		.container {
		position: relative;
		margin-top: 0px;
		}
		.main-menu {
	    margin: 0 0 35px 0;
	    position: relative;
	    z-index: 1;
		}
		.main-menu ul div{
	    display: inline-block;
		}
		.main-menu ul div li p a{
		color: white;
	    background-color: transparent;
		}

        ul.conference-menu {
		padding-left: 30%;
		background-color: rgb(0, 44, 58);
        }
        .conference-menu p{
        font-style: 24px, bold;
        text-align: center;	
        text-decoration:underline,;
        color: #white; 
    	background: transparent; 
    	padding: 2px; 
        }

ul.accordion {
  list-style-type: none;
  position: relative;
}

ul.accordion li {
  float: center;
  width: 50px;
  height: 60px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.description {
  display: none;
}

li.conference-menu {
    opacity: 0.4;
}

ul li.hovered {
    opacity: 1;
}