.main-menu {
  margin: 0 0 55px 0;
  height: 35px;
  background-color: #002c3a;
}

.main-menu ul div{
  display: inline-block;
}

.main-menu ul div li p a{
  color: white;
  background-color: transparent;
}

ul.conference-menu {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  padding-left: 0px;
}

ul.conference-menu li {
  margin: 0 2px;
}

.conference-menu li img{
  height: 65px;
  width: 60px;
}

.conference-menu p{
  text-align: center; 
  text-decoration:none;
  color: white; 
  background: transparent; 
  margin: -45px 0px 0 17px; 
  z-index: 2;
}

.conference-menu li div{
  margin: -56px 0 0 0; 
  width:inherit;
}

.conference-menu li div a{
  color: white;
}

.conference-menu li div a:hover{
  color: white;
  text-decoration: none;
  background: inherit;
}

.flag-text{
  position: absolute; 
  top: 62px;
  left: 0px;
  color: white;
  word-spacing: 999px;
  text-align: center;
/*  word-wrap: break-word;*/
}

.long-text{
  text-align: center;
  font-size: 12px;
  line-height: 95%;
  padding: 0 0 0 0;
/*  font-weight: normal;*/
/*  vertical-align: middle;
  top: 50%;*/
/*  position: relative;*/
}

.flag-image-container, .flag-year-image-container {
    position: relative;
}

/*.flag-year-image-container img:hover{
  width: 105%;
  height: 73px;
  margin: 0 0 0 0;
  letter-spacing: -0.1em;
  font-weight: normal;
  transition:.5s;
}*/

/*.flag-image-container img:hover{
}*/

/*.flag-text :hover{
  background: linear-gradient(#8E8D8D, black, transparent);
  position: absolute;
  border: 1px solid black;
  margin-top: -25px;
  z-index: 1;
}*/

.red-flag{
  content:url("/assets/redflag.png");
}

.blue-flag{
  content:url("/assets/blueflag.png");

}
.green-flag{
  content:url("/assets/greenflag.png");
}

.hovered{
/*  letter-spacing: 1px;*/ /*shaking all menu*/
  font-weight: bold;
  cursor: pointer;
/*  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  ...and now for the proper property 
  transition:.5s;*/
}

/*  -webkit-filter: contrast(120%); 
  filter: contrast(120%);  
/*  font-size:1em;*/
/*  background: linear-gradient(#8E8D8D, black, transparent);*/
/*  box-shadow: 10px 25px 30px rgba(0,0,0,.5);*/