.main-menu {
	margin: 0 0 55px 0;
  height: 35px;
  background-color: #002c3a;
}

.main-menu ul div{
  display: inline-block;
}

.main-menu ul div li p a{
  color: white;
  background-color: transparent;
}

ul.conference-menu {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  padding-left: 0px;
}

ul.conference-menu li {
  margin: 0 2px;
}

.conference-menu li img{
  height: 65px;
  width: 60px;
}

.conference-menu p{
  text-align: center;	
  text-decoration:none;
  color: white; 
  background: transparent; 
  margin: -45px 0px 0 0px; 
  z-index: 2;
}

.conference-menu li div{
  margin: -56px 0 0 0; 
  width:inherit;
  text-align: center;
}

.conference-menu li div a{
  color: white;
}

.conference-menu li div a :hover{
  color: white;
  text-decoration: none;
  background: inherit;
}

/*.conference-menu li img:hover{
  height: 100%;
  width: 75px;
  margin: -12px 0 0 0; 
  box-shadow:0 0 15px #00aaff;
  border:1px solid #00aaff;
}*/

.flag-text{
  position: absolute; 
   top: 65px; 
   left: 0; 
   width: 100%; 
   color: white;
   text-decoration: none;
   word-spacing: 9999px;
}

/*.flag-image-container, .flag-year-image-container {
    position: relative;
}*/

/*.flag-text :hover{
  content:url("/assets/redflag.png");
  position: absolute;
  border: 1px solid black;
  margin-top: -25px;
  z-index: 1;
}*/

.flag-year-image-container img:hover{
  content:url("/assets/redflag.png");
}

.flag-image-container img:hover{
  content:url("/assets/blueflag.png");
}

.hovered{
/*  -webkit-filter: contrast(120%); 
  filter: contrast(120%);  */
  letter-spacing: 0.1em;
  font-weight: bold;
  cursor: pointer;
}

/*  font-size:1em;*/
/*  background: linear-gradient(#8E8D8D, black, transparent);*/
/*  box-shadow: 10px 25px 30px rgba(0,0,0,.5);*/