.main-menu {
	margin: 0 0 35px 0;
  height: 35px;
	z-index: 1;
  background-color: #002c3a;
}

.main-menu ul div{
  display: inline-block;
}

.main-menu ul div li p a{
  color: white;
  background-color: transparent;
}

ul.conference-menu {
  padding-left: 25%;
}

.main-menu .conference-menu li img{
  height: 70px;
  width: 60px;
}

.conference-menu p{
  text-align: center;	
  text-decoration:underline,;
  color: white; 
  background: transparent; 
  margin: -45px 0px 0 0px; 
  z-index: 2;
  font-weight: bolder;
}

.conference-menu li div{
  margin: -52px 5px 0 5px; 
  width:inherit;
  text-align: center;
}

.conference-menu li div a{
  color: #F6F6F6;
  font-weight: bolder;
}
.description {
  display: none;
}


.flag-image-container, .flag-year-image-container {

    position: relative;
    height: 80px; 
}

.flag-text{
  position: absolute; 
   top: 65px; 
   left: 0; 
   width: 100%; 
}

/*DARKEN*/
.flag-year-image-container img{
  -webkit-filter: brightness(-65%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.flag-year-image-container img:hover {
  -webkit-filter: brightness(0%);
}