.main-menu {
	margin: 0 0 55px 0;
  height: 35px;
  background-color: #002c3a;
}

.main-menu ul div{
  display: inline-block;
}

.main-menu ul div li p a{
  color: white;
  background-color: transparent;

}

ul.conference-menu {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  padding-left: 0px;
}
ul.conference-menu li {
  margin: 0 2px;
}

.conference-menu li img{
  height: 65px;
  width: 60px;
}

.conference-menu p{
  text-align: center;	

  color: white; 
  background: transparent; 
  margin: -50px 0px 0 0px; 
  z-index: 2;
}

.conference-menu li div{
  margin: -56px 5px 0 5px; 
  width:inherit;
  text-align: center;
}

.conference-menu li div a{
  color: #F6F6F6;
}

.conference-menu li div a:hover{
  color: white;
  text-decoration: none;
  background: inherit;
}

/*.conference-menu li img:hover{
  height: 100%;
  width: 75px;
  margin: -10px; 
}*/
/*  box-shadow:0 0 15px #00aaff;
  border:1px solid #00aaff;*/

.flag-image-container, .flag-year-image-container {
    position: relative;
}

.flag-text{
  position: absolute; 
   top: 65px; 
   left: 0; 
   width: 100%; 
}

/*.flag-year-image-container img {  
}*/
 
/*.flag-year-image-container img:hover{
  box-shadow:0 0 15px #00aaff;
  border:1px solid #00aaff;
}*/

/*
.flag-year-image-container img{
  -webkit-filter: brightness(-65%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.flag-year-image-container img:hover {
  -webkit-filter: brightness(0%);
}*/

.hovered{
  -webkit-filter: contrast(200%); 
  filter: contrast(200%);  
/*  margin: -10px 0px;
  height: 75px;*/
  letter-spacing: 0.1em;
  background: linear-gradient(#8E8D8D, black, transparent);
/*  box-shadow: 10px 25px 30px rgba(0,0,0,.5);*/
/*  width: 60px;*/
/*  box-shadow:0 0 15px #00aaff;
  border:1px solid #00aaff;*/

/*    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);        */
}

/*
.flag1{
  height: 70px;
  width: 70px;
  margin: 10px 0 0 10px;
  position: absolute;
  z-index: 0;
  cursor: pointer;
  border-radius: 1em/.5em;
  opacity: .65;
  transition: opacity .5s;
  color: black;
  font-size: 16px;
  letter-spacing: 0.1em;
  box-shadow: 10px 25px 30px rgba(0,0,0,.5);
  background: linear-gradient(red 25%, #bb6666, red);
  
  &::after {
    position: absolute;
    height: 70px;
    width: 70px;
    margin: 30px 0 0 100px;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    border: 1em solid black;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: 10px 25px 30px rgba(0,0,0,.5);
  }*/
/*}
.flag1:hover {
  opacity: 1;
  color: white;
}
.flag1:after{
    content: '';
    position: absolute;
    top: 70px;
    border-top: 25px solid red;
    border-right: 35px solid white;
    border-left: 35px solid transparent;
    background: linear-gradient(90deg, 
    crimson 25%, black, dodgerblue 75%);
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
}
/*.flag1:before{
    content: '';
    position: absolute;
    top: 0px;
    border-top: 10px solid white;
    border-right: 35px solid red;
    border-left: 35px solid red;
}*/