// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report_icons{
	width:100px;
	height:100px;
}

.bckgrnd *{
}

#editor {
  resize: both;
}
