.content{
	margin: 0 20px;
	background-color: white;
}

.speakers-list{
	margin-left: 20px;
}

.speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
	margin-right: 20px;
}

.lightning-speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
}

.one-speaker{
	float: none;
	min-height: 75px;
}

.speaker-photo{
	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
}

.photo{
	width: 75px;
	height: 75px; 
}

.speakers-det .speaker-photo{
	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
	float: left;
}

.speech-info{
	padding: 0.5em 0;
}

.lightning-talks-list{
	margin-left: 20px;
}

.speech-container{
	background-color: #e7e7d4;
}

.ongoing-speech-container{
	background-color: #4ddb4d;
}

.speech-conference{
	float: left;
	text-align: right;
	width: 18%;
	margin-top: 15px; 
}

.speech-details{
	border-left: 1px solid black;
	padding-left: 10px;
	margin-left: 20%;
}

.full-speaker-container{
	width: 100%;
	clear: both;
	padding: 10px;
}

.speaker-about{
	padding: 5px;
}

.speech-about{
	float: left;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 8px;
}