.content{
	margin: 0 20px;
	background-color: white;
}

.speakers-list{
	margin-left: 20px;
}

.speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
	margin-right: 20px;
}

.lightning-speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
}

.one-speaker{
	float: none;
	min-height: 75px;
}

.speaker-photo{
	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
}

.speakers-det .speaker-photo, .one-speaker .speaker-photo{

	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
	float: left;
	margin: 5px;
}

.photo {
	 width: 75px;
	 height: 75px;
}

.speech-info{
	padding: 0.5em 0;
}

.lightning-talks-list{
	margin-left: 20px;
}

.speech-title h2{
	display: inline-block;
	margin: 5px;
	padding: 10px;
}

.speech-conference{
	margin: 5px;
	padding: 5px;
	border: 1px solid rgba(128,128,128, 0.5) ;
	background-color: rgba(255,255,255,0.31) ;
}
.speeches-list .speech-details{
	margin: 10px;
	padding: 5px;
	padding-bottom: 20px;
	border: 1px solid rgba(128,128,128, 0.5) ;
	background-color: rgba(255,255,255,0.31) ;
		text-align: center;
}

.ongoings-speech-container .speech-conference{
	border: 1px solid rgba(132,143,3, 0.7) ;
}
.ongoings-speech-container .speech-details{
	border: 1px solid rgba(132,143,3, 0.7) ;
}


.full-speaker-container{
	width: 100%;
	clear: both;
	padding: 10px;
}

.speaker-about{
	padding: 5px;
}

.speech-about{
	float: left;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 8px;
}

.speaker-contacts li{
	display: inline-block;
	list-style: none;
	margin: 5px;
}
.speaker-contacts img{
	width:16px;
}
