.content{
	margin: 0 20px;
	background-color: white;
}

.speakers-list{
	margin-left: 20px;
}

.speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
	margin-right: 20px;
}

.lightning-speaker-container{
	width: 45%;
	float: left;
	font-size: 1.2em;
	margin: 10px;
}

.one-speaker{
	float: none;
	min-height: 75px;
}

.speaker-photo{
	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
}

.speakers-det .speaker-photo, .one-speaker .speaker-photo{

	width: 75px;
	height: 75px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
	float: left;
	margin: 5px;
}

.photo {
	 width: 75px;
	 height: 75px;
}

.speech-info{
	padding: 0.5em 0;
}

.lightning-talks-list{
	margin-left: 20px;
}

.speech-title h2{
	display: inline-block;
	margin: 5px;
	padding: 10px;
}

.speech-container{
	background-color: rgba(255,255,255,0.31);
	margin: 5px;
	padding: 5px;
}

.speech-container div{
	display: inline-block;
}

.ongoing-speech-container{
	background-color: rgba(255,255,255,0.31);
	padding: 5px;
	margin: 5px;
}

.ongoing-speech-container div{
	display: inline-block;
}

.speech-conference{
	text-align: center;
	margin: 10px;
	padding: 10px;
	width: 20%;
}
.speech-details{
	margin: 5px;
	padding: 5px;
}

.full-speaker-container{
	width: 100%;
	clear: both;
	padding: 10px;
}

.speaker-about{
	padding: 5px;
}


.speech-about{
	float: left;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 8px;
}