// @import "bootstrap";

$footer-height: 50px;

.container{
	background-color: #ffffff;
}

.unvisible{
	display: none;
}

.unpublished{
	background-color: #FFF74D !important;
	opacity: 0.7;
}

.conference-menu li{
	display: inline-block;
	list-style:none;
}

.conference-menu li img{
	height:100%;
}

.name-conteiner{
	padding:0px 5px;
}

.conference-name{
	h1{
	font-weight: bold;
	}
	padding:13px 10px 24px 13px;
	margin: 5px;
	color: #000000;
	text-align: left;
}

.conference-name h1{
	margin-top:8px;
}

div.contacts{
	padding: 0;
}
div.name-conteiner{
	padding:0px;
}	

.conference-det-2{
	margin: 5px;
	padding: 20px 10px 10px 10px;
}

.conference-det-2 ul{
	padding:0;
	margin:10px;
	margin-top:0;
	margin-bottom:14px;
}

.conference-det-2 li{
	list-style: none;
	color: #CACACA;
	font-size: 1em;
	text-align: right;
}

.pull-right{
	text-align:right;
	margin:10px;
}

.logo-img img{
	height:100px;
	margin: 10px 0; 
}

.main-content{
	padding:15px;
	margin:5px;
}

footer{
	height: $footer-height;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #eeeeee;
	border-top: 1px solid #DBD0D0;
	box-sizing: content-box;
	.container{
		background-color: inherit;
	}
}

.logoes .col-lg-12 .logo img{
	height: 35px;
	width: 35px;
	color: #4E627A;
}

.social-network li{
	display: inline-block;
	list-style: none;
	margin: 10px;
}

.social-network {
	padding: 20px 40px;
}

.logoes .col-sm-12 .logo img{
	height: 35px;
	width: 35px;
}

.logoes .col-sm-12 li{
	margin: 0 4px;
}

.center-align{
	text-align: center;
}

.login-button{
	font-size: 4pt;
}
footer ul.social-network{
	margin: 0;
	padding: 0;
	li{
		line-height: $footer-height;
	}
}
.softserve-copyright{
	float: left; 
	line-height: $footer-height;
	a{
		color: #999999;
	}
}
.social{
	float: right;
}