// @import "bootstrap";

.container{
	background-color: #ffffff;
}

.unvisible{
	display: none;
}

.unpublished{
	border: 3px solid yellow;
}

.conference-menu li{
	display: inline-block;
	list-style:none;
}

.conference-menu li img{
	height:100%;
}

.name-conteiner{
	padding:0px 5px;
}

.conference-name{
	h1{
	font-weight: bold;
	}
	padding:13px 10px 24px 13px;
	margin: 5px;
	color: #000000;
	text-align: left;
}

.conference-name h1{
	margin-top:8px;
}

div.contacts{
	padding: 0;
}
div.name-conteiner{
	padding:0px;
}	

.conference-det-2{
	margin: 5px;
	padding: 20px 10px 10px 10px;
}

.conference-det-2 ul{
	padding:0;
	margin:10px;
	margin-top:0;
	margin-bottom:14px;
}

.conference-det-2 li{
	list-style: none;
	color: #CACACA;
	font-size: 1em;
	text-align: right;
}

.pull-right{
	text-align:right;
	margin:10px;
}

.logo-img img{
	height:100px;
	margin: 10px 0; 
}

.main-content{
	padding:15px;
	margin:5px;
}

footer{
	height: 100px;
	position: relative;
	background-color: #eeeeee;
	border: 1px solid #ebebeb;
}

.logoes .col-lg-12 .logo img{
	height: 40px;
	width: 40px;
	color: #4E627A;
}

.social-network li{
	display: inline-block;
	list-style: none;
	margin: 10px;
}

.social-network {
	padding: 20px 40px;
}

.social-network .soft {
	position: relative;
	left: 30%;
}

.logoes .col-sm-12 .logo img{
	height: 45px;
	width: 45px;
}

.logoes .col-sm-12 li{
	margin: 4px;
}

.center-align{
	text-align: center;
}

.login-button{
	font-size: 4pt;
}