		.main-menu {
	    margin: 0 0 35px 0;
		}
		.main-menu ul div{
	    display: inline-block;
	    width: auto;
	    margin-right: 0 0 0 25px; 
		}
		.main-menu ul div li p a{
		color: black;
	    background-color: transparent;
		}

		.old-other {
		display: none;
		position: relative;
		text-align: center;
		}
		.year-other {
		display: none;
		text-align: center;
		}
		.future-other {
		display: none;
		}
		.old-other{
		display: none;
		}
        .conference-menu p{
        margin: -90%;
        font-style: 24px, bold;
        text-align: center;	
        text-decoration:underline,;
        color: #white; 
    	background: transparent; 
    	padding: 2px; 
        }
        img {
        width: auto;	
        }