<% content_for :title, "Pacemaker - " + @year.name %>

<div class='year-name'>
  <%= @year.name %>
</div>

<div class='year-description'>
  <%= @year.content.html_safe %>
</div>

<div class='year-conference-count'>
	<hr>
	<small> <%= @conference_count %> conferences this year </small>
</div>