		<footer class="row logoes">
				<ul class="social-network col-lg-12 col-md-12 col-sm-12">

					<li class="logo fb">
						<a href="https://www.facebook.com/SoftServe.Career?fref=ts">
								<img alt="facebook" src="/assets/facebook29.svg">
						</a>
					</li> 
					<li class="logo twit">
						<a href="https://twitter.com/SoftServeInc" target="_blank">
							<img src="/assets/twitter13.svg">
						</a>
					</li>
					<li class="logo lind">
						<a href="https://www.linkedin.com/company/softserve?trk=prof-following-company-logo" 
							target="_blank">
							<img src="/assets/linkedin12.svg">
						</a>
					</li>
					<li class="soft">
						<a href="https://softserve.ua/" target="_blank">© SoftServe LTD, 2010-2014</a>
					</li>
				</ul>
				<div id ="admin_nav">	
					<% if admin_signed_in? %>
	 				Logged in as <strong><%= current_admin.email%></strong>.
		 			<%= link_to "Logout", destroy_admin_session_path, method: :delete %>
					<% else %>
	  				<%= link_to "Login", new_admin_session_path %>
					<% end %>
  				</div>	
			</footer>
		</div>