
	<div class="Main menu"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<ul class="nav nav-pills">
  						<li><a href="#">About</a></li>
  						<li><a href="#">Speakers</a></li>
  						<li><a href="#">Schedual</a></li>
  						<li><a href="#">Location</a></li>
  						<li><a href="#">Report</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6"></div>
			</div>
			<div class="conteiner main-context">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="blockquotes-container">
							<blockquote class="pull-right">
  								<p>It takes all the running you can do, to keep in the same place.<br> If you want to get somewhere else, you must run at least twice as fast as that!</p>
  								<small>Red Queen</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="row first">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="conference-det">
						<div class="name"><h1>Pacemaker: Web UI</h1></div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="conference-det-2">
						<ul class="contacts">
							<li>70 participant</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
				</div>
			</div>