<div class="container">
<div class="main-menu">
	<ul class="conference-menu">
		<div id="old-year">
			<li class="redBtn">
				<img src="/assets/RED.png">
				<p><a href="http://localhost:3000/conferences/">2013</a></p>
			<li class="old-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">RUBY</a></p>
			</li>
			<li class="old-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">JAVA</a></p>
			</li>					
			<li class="old-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">C++</a></p>
			</li>					
			<li class="old-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">.NET</a></p>
			</li>
			</li>
		</div>
		<div id="prev-year">
			<li class="blueBtn">
				<img src="/assets/BLUE.png">
				<p><a href="http://localhost:3000/conferences/">2014</a></p>
			<li class="year-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">LAMP</a></p>
			</li>					
			<li class="year-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">Web-UI</a></p>
			</li>					
			<li class="year-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">JScrip</a></p>
			</li>					
			<li class="year-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">CSS3</a></p>
			</li>
			</li>
		</div>
		<div id="current-year">
			<li class="blueBtn2">
				<img src="/assets/BLUE.png">
				<p><a href="http://localhost:3000/conferences/">2015</a></p>
			</li>
			<li class="future-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">RUBY</a></p>
			</li>
			<li class="future-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">JAVA</a></p>
			</li>					
			<li class="future-other">
				<img src="/assets/GREY.png">
				<p><a href="http://localhost:3000/">C++</a></p>
			</li>
			</li>
			<li class="greenBtn">					
				<img src="/assets/GREEN.png">
            <%= link_to Conference.name, Conference.last_conference, :class => ('active' if current_page?(conferences_path)) %>	
			</li>
		</div>
	</ul>
</div>
</div>

<script>
$(document).ready(function () {
	$('.old-other').hide();
	$('.year-other').hide();
	$('.future-other').hide();

	$('li.conference-menu').hover(function(){
	    $(this).addClass('hovered');
	},function(){
	    $(this).removeClass('hovered');
	});

	$( ".redBtn" ).click(function() {
		$(this).parent().find( ".old-other" ).first().toggle( 100, function showNext() {
			$( this ).next( ".old-other" ).toggle( 100, showNext );
		});
	});
	$( ".blueBtn" ).click(function() {
		$( ".year-other" ).first().toggle( 100, function showNext() {
			$( this ).next( ".year-other" ).toggle( 100, showNext );
		});
	});
	$( ".blueBtn2").click(function() {
		$( ".future-other" ).first().toggle( 100, function showNext() {
			$( this ).next( ".future-other" ).toggle( 100, showNext );
		});
	});
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('li.conference-menu').hover(function() {
        $(this).animate({
        backgroundColor: "black",
        color: "white"
        })
    })
});
</script>
<script>
$(document).ready(function() {
$('.blueBtn').hover(function() {
    $( ".blueBtn" ).effect( "shake", {
        times: 10,
        distance: 100
        }, 2000, function()
    );
  });
});
</script>

