 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>PaceMaker</title>
    	<link rel="stylesheet" type="text/css" href="/home/natalia/MainProject/yeti/theme/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div class="Main menu"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<ul class="nav nav-pills">
  						<li><a href="#">About</a></li>
  						<li><a href="#">Speakers</a></li>
  						<li><a href="#">Schedual</a></li>
  						<li><a href="#">Location</a></li>
  						<li><a href="#">Report</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6"></div>
			</div>
			<div class="conteiner main-context">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="blockquotes-container">
							<blockquote class="pull-right">
  								<p>It takes all the running you can do, to keep in the same place.<br> If you want to get somewhere else, you must run at least twice as fast as that!</p>
  								<small>Red Queen</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="row first">
				<div class="col-lg-8 col-md-8 col-sm-12">
					<div class="conference-det">
						<div class="name"><h1>Pacemaker: Web UI</h1></div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="conference-det-2">
						<ul class="contacts">
							<li>70 participant</li>
							<li>2</li>
							<li>3</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="main-speakers col-lg-12 col-md-12 col-sm-12">
					<h2>Main Speakers</h2>
				</div>
			</div>
			<footer class="row logoes">
				<ul class="social-network col-lg-12 col-md-12 col-sm-12">
					<li class="logo fb">
						<a href="https://www.facebook.com/SoftServe.Career?fref=ts" 
							target="_blank">
								<img src="/home/natalia/Downloads/facebook29.svg">
						</a>
					</li>
					<li class="logo twit">
						<a href="https://twitter.com/SoftServeInc" target="_blank">
							<img src="/home/natalia/Downloads/twitter13.svg">
						</a>
					</li>
					<li class="logo lind">
						<a href="https://www.linkedin.com/company/softserve?trk=prof-following-company-logo" 
							target="_blank">
							<img src="/home/natalia/Downloads/linkedin12.svg">
						</a>
					</li>
					<li class="soft">
						<a href="https://softserve.ua/" target="_blank">© SoftServe LTD, 2010-2014</a>
					</li>
				</ul>
			</footer>
		</div>
	</body>
</html>
